.light {
  --color-primary: #ffffff;
  --color-accent: #0060df;
  --font-color: #191414;
}
.dark {
  --color-primary: #191414;
  --color-accent: #1db954;
  --font-color: #ffffff;
}

.body {
  height: 100vh;
  overflow-y: auto;
  color: var(--font-color);
  background-color: var(--color-primary);
}

.container {
  padding: 0 2rem;
  transition: 0.2s;
}

.secondary {
  padding-top: 5px;
  padding-left: 15px;
  color: var(--color-accent);
}

.main {
  min-height: calc(100vh - 200px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--color-accent);
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--font-color);
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card ul {
  color: var(--font-color);
  height: calc(100% - 37px - 1rem);
  padding-right: 10px;
  padding-left: 17px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.card.action:hover,
.card.action:focus,
.card.action:active {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.carousel h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  cursor: pointer;
}

.carousel h3:hover {
  text-decoration: underline;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card input {
  display: none;
}

.card label {
  cursor: pointer;
}

.chart {
  height: 200px;
  padding: 15px;
  width: 100%;
}

@media (max-width: 640px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .chart {
    width: 100%;
    height: 100px;
  }
  .card {
    max-width: unset;
  }
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  left: 8px;
  top: 10px;
  display: inline-block;
  width: 34px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.slider:before {
  border: 1px solid var(--color-accent);
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url("https://i.ibb.co/FxzBYR9/night.png");
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  background: url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel {
  display: flex;
  width: 100%;
  align-items: center;
}

.carousel .content {
  height: 100%;
  width: -webkit-fill-available;
  margin: 0 15px;
}

.carousel .content .card {
  max-width: unset;
  height: 100%;
}

.carousel button {
  background-color: var(--color-primary);
  border-color: var(--font-color);
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  cursor: pointer;
  height: 50px;
  width: 57px;
  font-size: 30px;
  border-radius: 20px;
}

.carousel button:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.carousel button.previous.left {
  opacity: 0;
}

.carousel button.next.right {
  opacity: 0;
}

.carousel button.previous {
  position: fixed;
  top: 60%;
  left: 10%;
}

.carousel button.next {
  position: fixed;
  top: 60%;
  right: 10%;
}

@media (max-width: 1050px) {
  .carousel button.previous {
    left: 5px;
  }
  .carousel button.next {
    right: 5px;
  }
}